@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700");
html, body, pre {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

pre {
  display: block;
}

dl, ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

html {
  color: #474952;
  font-family: Rubik, sans-serif;
  font-size: 16px;
}

code {
  font-family: "Source Code Pro", sans-serif;
}

pre {
  font-family: "Source Code Pro", sans-serif;
}

.common-button {
  appearance: none;
  background-color: #8599ad;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  color: #f1f2f3;
  display: inline-block;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  text-decoration: none;
}
.common-button:hover {
  background-color: #8fa6bc;
}
.common-button:active {
  background-color: #9cb3c9;
}
.common-button_icon {
  font-size: 0.9em;
  margin-right: 0.5em;
}
.common-button_icon.common-button_icon-after {
  margin-left: 0.5em;
  margin-right: 0;
}

.common-demo {
  overflow: hidden;
}
@media screen and (min-width: 961px) {
  .common-demo {
    display: flex;
  }
}
.common-demo_codeLayout {
  background-color: #e4e4e7;
  flex: 3;
}
.common-demo_resultLayout {
  background-color: #f1f2f3;
  flex: 2;
  padding: 32px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .common-demo_resultLayout {
    padding: 16px;
  }
}
.common-demo_resultLayout.common-demo_resultLayout-withJson > * + * {
  margin-top: 16px;
}
.common-demo_resultJson {
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.8rem;
  min-width: 256px;
  opacity: 0.7;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
}

.common-globalFooter {
  background-color: #2f3137;
  color: #f1f2f3;
  text-align: left;
}
.common-globalFooter_innerLayout {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 961px) {
  .common-globalFooter_innerLayout {
    max-width: 1024px;
    padding: 64px 128px;
  }
}
@media screen and (max-width: 960px) {
  .common-globalFooter_innerLayout {
    padding: 32px 16px;
  }
}
.common-globalFooter_titleLayout {
  margin-bottom: 32px;
}
.common-globalFooter_menuLayout a {
  color: inherit;
  text-decoration: none;
}
.common-globalFooter_menuLayout a:hover {
  text-decoration: underline;
}
.common-globalFooter_copyLayout {
  font-size: 0.8rem;
  margin-top: 64px;
  opacity: 0.7;
}
@media screen and (max-width: 960px) {
  .common-globalFooter_copyLayout {
    margin-top: 32px;
  }
}
.common-globalFooter_copyLayout a {
  color: inherit;
}

.common-globalFooterMenu {
  display: flex;
}

@media screen and (min-width: 961px) {
  .common-globalFooterMenuItem + .common-globalFooterMenuItem {
    margin-left: 8em;
  }
}
@media screen and (max-width: 960px) {
  .common-globalFooterMenuItem {
    flex: 1;
  }
  .common-globalFooterMenuItem + .common-globalFooterMenuItem {
    margin-left: 2rem;
  }
}
.common-globalFooterMenuItem a {
  color: inherit;
  text-decoration: none;
}
.common-globalFooterMenuItem a:hover {
  text-decoration: underline;
}
.common-globalFooterMenuItem .fa-external-link-square-alt {
  margin-left: 0.5em;
}
.common-globalFooterMenuItem > a {
  font-weight: bold;
}
.common-globalFooterMenuItem_submenuLayout {
  margin-top: 0.5em;
  opacity: 0.7;
}
.common-globalFooterMenuItem_submenuLayout li + li {
  margin-top: 0.5em;
}
.common-globalFooterMenuItem_submenuLayout a {
  color: inherit;
  text-decoration: none;
}
.common-globalFooterMenuItem_submenuLayout a:hover {
  text-decoration: underline;
}

.common-globalHeader {
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  color: inherit;
  left: 0;
  line-height: 64px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
@media screen and (min-width: 961px) {
  .common-globalHeader {
    height: 64px;
  }
}
@media screen and (max-width: 960px) {
  .common-globalHeader {
    height: 128px;
  }
}
.common-globalHeader_innerLayout {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media screen and (min-width: 961px) {
  .common-globalHeader_innerLayout {
    max-width: 1024px;
    padding-left: 128px;
    padding-right: 128px;
  }
}
@media screen and (max-width: 960px) {
  .common-globalHeader_innerLayout {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.common-globalHeader_logoLayout {
  display: inline-block;
  margin-right: 1em;
}
@media screen and (min-width: 961px) {
  .common-globalHeader_menuLayout {
    display: inline-block;
  }
}
@media screen and (max-width: 960px) {
  .common-globalHeader_menuLayout {
    text-align: center;
  }
}
.common-globalHeader_buttonLayout {
  font-size: 0.9em;
  position: absolute;
  top: 0;
}
@media screen and (min-width: 961px) {
  .common-globalHeader_buttonLayout {
    right: 128px;
  }
}
@media screen and (max-width: 960px) {
  .common-globalHeader_buttonLayout {
    right: 16px;
  }
}

.common-globalHeaderMenu {
  white-space: nowrap;
}
.common-globalHeaderMenu_item {
  display: inline-block;
}
.common-globalHeaderMenu_item a {
  color: inherit;
  display: block;
  padding: 0 1em;
  text-decoration: none;
}
.common-globalHeaderMenu_item a:hover {
  text-decoration: underline;
}
.common-globalHeaderMenu_item.common-globalHeaderMenu_item-active a {
  font-weight: bold;
}
@media screen and (min-width: 961px) {
  .common-globalHeaderMenu_item.common-globalHeaderMenu_item-active a {
    background-color: #f1f2f3;
  }
}
@media screen and (max-width: 960px) {
  .common-globalHeaderMenu_item.common-globalHeaderMenu_item-active a {
    background: linear-gradient(to bottom, rgba(241, 242, 243, 0), #f1f2f3);
  }
}

.hljs-comment {
  color: #9294a0;
}

.hljs-keyword {
  color: #445eab;
}

.hljs-literal,
.hljs-number {
  color: #9466c2;
}

.hljs-string {
  color: #6c7393;
}

.common-logo {
  color: #474952;
  display: block;
  font-weight: bold;
  padding-left: 20px;
  position: relative;
  text-decoration: none;
}
.common-logo:hover {
  color: rgba(71, 73, 82, 0.8);
  text-decoration: none;
}
.common-logo.common-logo-light {
  color: #f1f2f3;
}
.common-logo.common-logo-light:hover {
  color: rgba(241, 242, 243, 0.8);
}
.common-logo_symbol {
  background: linear-gradient(to left, #474952, #474952 4px, transparent 4px, transparent 8px, #474952 8px, #474952);
  border-radius: 4px;
  bottom: 2px;
  content: "";
  display: block;
  height: 12px;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  position: absolute;
  top: 0;
  width: 12px;
}
.common-logo.common-logo-light .common-logo_symbol {
  background: linear-gradient(to left, #f1f2f3, #f1f2f3 4px, transparent 4px, transparent 8px, #f1f2f3 8px, #f1f2f3);
}
.common-logo:hover .common-logo_symbol {
  background: linear-gradient(to left, rgba(71, 73, 82, 0.8), rgba(71, 73, 82, 0.8) 4px, transparent 4px, transparent 8px, rgba(71, 73, 82, 0.8) 8px, rgba(71, 73, 82, 0.8));
}
.common-logo.common-logo-light:hover .common-logo_symbol {
  background: linear-gradient(to left, rgba(241, 242, 243, 0.8), rgba(241, 242, 243, 0.8) 4px, transparent 4px, transparent 8px, rgba(241, 242, 243, 0.8) 8px, rgba(241, 242, 243, 0.8));
}

@media screen and (min-width: 961px) {
  .common-main_globalHeaderLayout {
    height: 64px;
  }
}
@media screen and (max-width: 960px) {
  .common-main_globalHeaderLayout {
    height: 128px;
  }
}
.common-main_pageHeaderLayout, .common-main_innerLayout {
  flex: 1;
}
.common-main_pageHeaderLayout h2, .common-main_innerLayout h2 {
  font-size: 1.5rem;
  margin-top: 2em;
}
@media screen and (max-width: 960px) {
  .common-main_pageHeaderLayout h2, .common-main_innerLayout h2 {
    font-size: 1.25rem;
  }
}
.common-main_pageHeaderLayout h3, .common-main_pageHeaderLayout h4, .common-main_pageHeaderLayout h5, .common-main_pageHeaderLayout h6, .common-main_innerLayout h3, .common-main_innerLayout h4, .common-main_innerLayout h5, .common-main_innerLayout h6 {
  font-size: 1.25rem;
  margin-top: 2em;
}
@media screen and (max-width: 960px) {
  .common-main_pageHeaderLayout h3, .common-main_pageHeaderLayout h4, .common-main_pageHeaderLayout h5, .common-main_pageHeaderLayout h6, .common-main_innerLayout h3, .common-main_innerLayout h4, .common-main_innerLayout h5, .common-main_innerLayout h6 {
    font-size: 1rem;
  }
}
.common-main_pageHeaderLayout h1:first-child, .common-main_pageHeaderLayout h2:first-child, .common-main_pageHeaderLayout h3:first-child, .common-main_pageHeaderLayout h4:first-child, .common-main_pageHeaderLayout h5:first-child, .common-main_pageHeaderLayout h6:first-child, .common-main_innerLayout h1:first-child, .common-main_innerLayout h2:first-child, .common-main_innerLayout h3:first-child, .common-main_innerLayout h4:first-child, .common-main_innerLayout h5:first-child, .common-main_innerLayout h6:first-child {
  margin-top: 0;
}
.common-main_pageHeaderLayout h1 + p, .common-main_pageHeaderLayout h2 + p, .common-main_pageHeaderLayout h3 + p, .common-main_pageHeaderLayout h4 + p, .common-main_pageHeaderLayout h5 + p, .common-main_pageHeaderLayout h6 + p, .common-main_innerLayout h1 + p, .common-main_innerLayout h2 + p, .common-main_innerLayout h3 + p, .common-main_innerLayout h4 + p, .common-main_innerLayout h5 + p, .common-main_innerLayout h6 + p {
  margin-top: 0.5em;
}
.common-main_pageHeaderLayout ul, .common-main_innerLayout ul {
  list-style-type: disc;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 1.3rem;
}
.common-main_pageHeaderLayout li + li, .common-main_innerLayout li + li {
  margin-top: 0.5em;
}
.common-main_pageHeaderLayout p, .common-main_innerLayout p {
  line-height: 1.6;
}
.common-main_pageHeaderLayout p code, .common-main_innerLayout p code {
  background-color: #f1f2f3;
  color: #666f99;
  font-weight: bold;
}
.common-main_pageHeaderLayout a, .common-main_innerLayout a {
  color: #2680d9;
}
.common-main_innerLayout {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 961px) {
  .common-main_innerLayout {
    max-width: 1024px;
    padding: 64px 128px;
  }
}
@media screen and (max-width: 960px) {
  .common-main_innerLayout {
    margin: 32px auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.common-main_mediaLayout {
  border-radius: 6px;
  margin-bottom: 1em;
  margin-top: 1em;
  overflow: hidden;
}
.common-aeroContainer {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 256px;
}

.common-codeBlock {
  background-color: #e4e4e7;
  position: relative;
}
.common-codeBlock pre {
  overflow: auto;
  padding: 32px;
}
@media screen and (max-width: 960px) {
  .common-codeBlock pre {
    padding: 16px;
  }
}
.common-codeBlock pre code {
  font-size: 0.9rem;
  font-weight: 500;
}
.common-codeBlock_title {
  background-color: #5f616d;
  color: #d6d7db;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.25em 0.5em;
  position: absolute;
  right: 0;
  top: 0;
}

.common-support {
  background-color: #f7e6d4;
  padding: 32px;
}
@media screen and (max-width: 960px) {
  .common-support {
    padding: 16px;
  }
}
.common-support_buttonLayout {
  margin-top: 32px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .common-support_buttonLayout {
    margin-top: 16px;
  }
}

.common-pageHeader {
  background-color: #f1f2f3;
  position: relative;
}
.common-pageHeader_sketchContainer {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.common-pageHeader_sketchContainer canvas {
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.common-pageHeader_innerLayout {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media screen and (min-width: 961px) {
  .common-pageHeader_innerLayout {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    padding: 64px 128px;
  }
}
@media screen and (max-width: 960px) {
  .common-pageHeader_innerLayout {
    padding: 32px 16px;
  }
}
.common-pageHeader_title {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (min-width: 961px) {
  .common-pageHeader_aeroLayout {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 32px;
  }
}
@media screen and (max-width: 960px) {
  .common-pageHeader_aeroLayout {
    margin-top: 32px;
    text-align: center;
  }
}

/*# sourceMappingURL=bundle.css.map */
