.ss {
  background-color: #1a1a1a;
  font-size: 11px;
}
.ss * {
  box-sizing: border-box;
}

.ssDefaultContainer {
  width: 250px;
  position: absolute;
  right: 0;
  top: 0;
}

.sscc {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.sscc.sscc-disabled {
  opacity: 0.5;
}
.sscc.sscc-disabled .sscc_input:hover + .sscc_outer {
  background-color: #404040;
}
.sscc.sscc-disabled .sscc_input:hover + .sscc_outer .sscc_inner {
  background-color: #e6e6e6;
}
.sscc_hitArea {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.sscc_input {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  margin: 0;
  opacity: 0.001;
  padding: 0;
}

.sscc_input:focus + .sscc_outer {
  background-color: #4d4d4d;
}

.sscc_input:focus + .sscc_outer:hover, .sscc_outer:hover {
  background-color: #595959;
}

.sscc_input:checked + .sscc_outer .sscc_inner {
  opacity: 1;
}

.sscc_outer:hover .sscc_inner {
  background-color: white;
}

.sscc_outer {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #404040;
  border-radius: 2px;
  height: 24px;
  width: 24px;
}

.sscc_inner {
  background-color: #e6e6e6;
  border-radius: 2px;
  bottom: 0;
  height: 14px;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 14px;
}

.sscpc_outer {
  background-color: #404040;
  border-radius: 2px;
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 24px;
}

.sscpc_inner {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.sstc.sstc-cpt {
  left: 29px;
  right: 0;
}

.ssfv {
  overflow: hidden;
}
.ssfv_title {
  color: gray;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}
.ssfv_title:hover {
  color: #999999;
}

.ssfv_container {
  overflow: hidden;
  padding: 0 5px;
}
.ssfv_container.ssfv_container-animated {
  transition: height 0.1s ease-in-out;
}

.sslc {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.sslc_select {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: auto;
  height: 100%;
  right: auto;
  width: 100%;
  appearance: none;
  background-color: #404040;
  border-radius: 2px;
  border-width: 0;
  color: #e6e6e6;
  cursor: pointer;
  outline: none;
  padding: 0 5px;
}
.sslc_select:focus {
  background-color: #4d4d4d;
}
.sslc_select:hover {
  background-color: #595959;
  color: white;
}

.ssPropView {
  background-color: #333333;
  height: 35px;
  position: relative;
}
.ssPropView + .ssPropView {
  border-top: #2b2b2b solid 1px;
}
.ssPropView_label {
  color: #cccccc;
  height: 35px;
  left: 0;
  line-height: 35px;
  overflow: hidden;
  padding: 0 10px;
  position: absolute;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  width: 50%;
}

.ssPropView_container {
  bottom: 5px;
  left: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
}

.sssc {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.sssc:hover .sssc_outer {
  background-color: #595959;
}
.sssc:hover .sssc_inner {
  background-color: white;
}
.sssc.sssc-disabled {
  cursor: default;
  opacity: 0.5;
}
.sssc.sssc-disabled:hover .sssc_outer {
  background-color: #404040;
}
.sssc.sssc-disabled:hover .sssc_inner {
  background-color: #e6e6e6;
}
.sssc_outer {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #404040;
  border-radius: 2px;
  overflow: hidden;
}

.sssc_inner {
  background-color: #e6e6e6;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
}

.sssc.sssc-st {
  right: 55px;
  width: auto;
}

.sstc.sstc-st {
  left: auto;
  right: 0;
  width: 50px;
}

.sstc {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.sstc.sstc-disabled {
  opacity: 0.5;
}
.sstc.sstc-disabled .sstc_input:hover {
  background-color: #404040;
  color: #e6e6e6;
}
.sstc_input {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: auto;
  height: 100%;
  right: auto;
  width: 100%;
  background-color: #404040;
  border-radius: 2px;
  border-width: 0;
  color: #e6e6e6;
  outline: none;
  padding: 0 5px;
}
.sstc_input:focus {
  background-color: #4d4d4d;
}
.sstc_input:hover {
  background-color: #595959;
  color: white;
}

/*# sourceMappingURL=aerodial.css.map */
