.ss {
  background-color: #1a1d23;
  padding: 0 5px;
}
.ss * {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  font-size: 11px;
}

.ssDefaultContainer {
  width: 250px;
  position: absolute;
  right: 0;
  top: 0;
}

.ssbtv {
  background-color: #2e3138;
  padding: 5px;
  position: relative;
}
.ssbtv_button {
  appearance: none;
  background-color: #40454f;
  border-width: 0;
  border-radius: 2px;
  color: #cfd2d8;
  cursor: pointer;
  height: 23px;
  line-height: 23px;
  outline: none;
  padding: 0;
  transition: background-color 0.2s ease-out;
  width: 100%;
}
.ssbtv_button:focus {
  background-color: #4c515d;
}
.ssbtv_button:hover {
  background-color: #575e6b;
  color: #ebedef;
}
.ssbtv_button:active {
  background-color: #6e7687;
}

.ssbtv + .ssprv,
.ssprv + .ssbtv {
  border-top: #22252a solid 1px;
}

.ssfv {
  overflow: hidden;
  position: relative;
}
.ssfv.ssfv-animated .ssfv_arrow {
  transition: transform 0.2s ease-out;
}
.ssfv.ssfv-animated .ssfv_container {
  transition: height 0.2s ease-out;
}
.ssfv_arrow {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%2210px%22%20height%3D%2210px%22%20viewBox%3D%220%200%2010%2010%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20fill%3D%22none%22%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M5.49%2C2.51%20L1.49%2C7.49%20L9.49%2C7.49%20L5.49%2C2.51%20Z%22%20transform%3D%22translate(5.5%2C5.0)%20scale(-1%2C-1)%20rotate(-90)%20translate(-5.5%2C-5)%20%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  height: 10px;
  right: 10px;
  opacity: 0.3;
  position: absolute;
  top: 11.5px;
  transform: rotate(-90deg);
  width: 10px;
}
.ssfv_arrow.ssfv_arrow-expanded {
  transform: rotate(90deg);
}

.ssfv_title {
  color: rgba(199, 202, 209, 0.5);
  cursor: pointer;
  height: 33px;
  line-height: 33px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 30px;
  position: relative;
  text-overflow: ellipsis;
  transition: color 0.2s ease-out;
  user-select: none;
  white-space: nowrap;
}
.ssfv_title:hover {
  color: rgba(241, 242, 244, 0.5);
}

.ssfv_container {
  overflow: hidden;
}

.ssprv {
  background-color: #2e3138;
  position: relative;
}
.ssprv:after {
  clear: both;
  content: "";
  display: block;
}
.ssprv + .ssprv {
  border-top: #22252a solid 1px;
}
.ssprv_label {
  bottom: 0;
  color: rgba(199, 202, 209, 0.7);
  height: 22px;
  left: 0;
  line-height: 22px;
  margin: auto 0;
  overflow: hidden;
  padding: 0 5px;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  user-select: none;
  white-space: nowrap;
  width: 38%;
}

.ssprv_container {
  float: right;
  padding: 5px;
  width: 62%;
}

.ssspv {
  height: 5px;
}

.sscbc {
  height: 23px;
  width: 100%;
}
.sscbc_hitArea {
  display: block;
  height: 23px;
  width: 100%;
}

.sscbc_input {
  cursor: pointer;
  margin: 0;
  opacity: 0.001;
  padding: 0;
  position: absolute;
}

.sscbc_input:focus + .sscbc_outer {
  background-color: #4c515d;
}

.sscbc_input:focus + .sscbc_outer:hover, .sscbc_outer:hover {
  background-color: #575e6b;
}

.sscbc_input:checked + .sscbc_outer .sscbc_inner {
  opacity: 1;
}

.sscbc_outer:hover .sscbc_inner {
  background-color: #ebedef;
}

.sscbc_outer {
  background-color: #40454f;
  border-radius: 2px;
  cursor: pointer;
  height: 23px;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 23px;
}

.sscbc_inner {
  background-color: #cfd2d8;
  border-radius: 2px;
  bottom: 0;
  height: 13px;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.1s ease-out;
  width: 13px;
}

.sscpc {
  height: 23px;
  position: relative;
}
.sscpc_outer {
  background-color: #40454f;
  border-radius: 2px;
  height: 23px;
  overflow: hidden;
  position: relative;
  width: 23px;
}

.sscpc_inner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.sscptc {
  height: 23px;
  position: relative;
}

.sscpc.sscpc-cpt {
  position: absolute;
}

.sstc.sstc-cpt {
  position: absolute;
  left: 28px;
  right: 0;
}

.sslc {
  background-color: #40454f;
  border-radius: 2px;
}
.sslc:focus {
  background-color: #4c515d;
}
.sslc:hover {
  background-color: #575e6b;
}
.sslc:hover .sslc_select {
  color: #ebedef;
}
.sslc_select {
  appearance: none;
  background-color: transparent;
  border-width: 0;
  color: #cfd2d8;
  cursor: pointer;
  height: 23px;
  line-height: 23px;
  outline: none;
  padding: 0 5px;
  position: relative;
  width: 100%;
}

.sslc_arrow {
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%2210px%22%20height%3D%2210px%22%20viewBox%3D%220%200%2010%2010%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20fill%3D%22none%22%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M5%2C3%20L1%2C7.99%20L9%2C7.99%20L5%2C3%20Z%22%20transform%3D%22translate(5%2C5.5)%20scale(-1%2C-1)%20translate(-5%2C-5.5)%20%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat center center;
  bottom: 0;
  height: 10px;
  margin: auto 0;
  opacity: 0.3;
  position: absolute;
  right: 10px;
  top: 0;
  width: 10px;
}

.sssc {
  cursor: pointer;
  height: 23px;
  position: relative;
}
.sssc:hover .sssc_outer {
  background-color: #575e6b;
}
.sssc:hover .sssc_inner {
  background-color: #ebedef;
}
.sssc_outer {
  background-color: #40454f;
  border-radius: 2px;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: background-color 0.2s ease-out;
}

.sssc_inner {
  background-color: #cfd2d8;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.2s ease-out;
}

.ssstc {
  height: 23px;
  position: relative;
  width: 100%;
}

.sssc.sssc-st {
  left: 0;
  right: 55px;
  position: absolute;
  top: 0;
}

.sstc.sstc-st {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}

.sstc {
  height: 23px;
  position: relative;
}
.sstc_input {
  appearance: none;
  background-color: #40454f;
  border-radius: 2px;
  border-width: 0;
  color: #cfd2d8;
  height: 100%;
  line-height: 23px;
  outline: none;
  padding: 0 5px;
  transition: background-color 0.2s ease-out;
  width: 100%;
}
.sstc_input:focus {
  background-color: #4c515d;
}
.sstc_input:hover {
  background-color: #575e6b;
  color: #ebedef;
}

.ssgm {
  height: 69px;
  position: relative;
}
.ssgm_canvas {
  background-color: #40454f;
  border-radius: 2px;
  color: rgba(207, 210, 216, 0.5);
  display: block;
  height: 69px;
  width: 100%;
}

.sslm {
  background-color: #40454f;
  border-radius: 2px;
  height: 69px;
  position: relative;
}
.sslm_textarea {
  background-color: transparent;
  border-width: 0;
  color: rgba(207, 210, 216, 0.5);
  display: block;
  height: 100%;
  line-height: 23px;
  outline: none;
  padding: 0 5px;
  resize: none;
  white-space: pre;
  width: 100%;
}

.sstm {
  background-color: #40454f;
  border-radius: 2px;
  height: 23px;
  position: relative;
}
.sstm_input {
  background-color: transparent;
  border-width: 0;
  color: rgba(207, 210, 216, 0.5);
  height: 23px;
  line-height: 23px;
  outline: none;
  padding: 0 5px;
  width: 100%;
}

/*# sourceMappingURL=aerodial.css.map */
