.aeroDefaultContainer {
  width: 250px;
  position: absolute;
  right: 0;
  top: 0;
}

.aerobtv {
  background-color: #40454f;
  padding: 5px;
  position: relative;
}
.aerobtv_button {
  appearance: none;
  background-color: #535965;
  border-width: 0;
  border-radius: 2px;
  color: #cfd2d8;
  cursor: pointer;
  height: 23px;
  line-height: 23px;
  outline: none;
  padding: 0;
  transition: background-color 0.2s ease-out;
  width: 100%;
}
.aerobtv_button:focus {
  background-color: #5e6573;
}
.aerobtv_button:hover {
  background-color: #6a7181;
  color: #ebedef;
}
.aerobtv_button:active {
  background-color: #848b9a;
}

.aerobtv + .aerobtv,
.aerobtv + .aeroprv,
.aeroprv + .aerobtv {
  border-top: #353941 solid 1px;
}

.aerofv {
  overflow: hidden;
  position: relative;
}
.aerofv.aerofv-animated .aerofv_arrow {
  transition: transform 0.2s ease-out;
}
.aerofv.aerofv-animated .aerofv_container {
  transition: height 0.2s ease-out;
}
.aerofv_arrow {
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%2210px%22%20height%3D%2210px%22%20viewBox%3D%220%200%2010%2010%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20fill%3D%22none%22%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M5.49%2C2.51%20L1.49%2C7.49%20L9.49%2C7.49%20L5.49%2C2.51%20Z%22%20transform%3D%22translate(5.5%2C5.0)%20scale(-1%2C-1)%20rotate(-90)%20translate(-5.5%2C-5)%20%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat center center;
  height: 10px;
  right: 10px;
  opacity: 0.3;
  position: absolute;
  top: 11.5px;
  transform: rotate(-90deg);
  width: 10px;
}
.aerofv_arrow.aerofv_arrow-expanded {
  transform: rotate(90deg);
}

.aerofv_title {
  color: rgba(199, 202, 209, 0.5);
  cursor: pointer;
  height: 33px;
  line-height: 33px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 30px;
  position: relative;
  text-overflow: ellipsis;
  transition: color 0.2s ease-out;
  user-select: none;
  white-space: nowrap;
}
.aerofv_title:hover {
  color: rgba(241, 242, 244, 0.5);
}

.aerofv_container {
  overflow: hidden;
}

.aeroprv {
  background-color: #40454f;
  position: relative;
}
.aeroprv:after {
  clear: both;
  content: "";
  display: block;
}
.aeroprv + .aeroprv {
  border-top: #353941 solid 1px;
}
.aeroprv_label {
  bottom: 0;
  color: rgba(199, 202, 209, 0.7);
  height: 22px;
  left: 0;
  line-height: 22px;
  margin: auto 0;
  overflow: hidden;
  padding: 0 5px;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  user-select: none;
  white-space: nowrap;
  width: 38%;
}

.aeroprv_container {
  float: right;
  padding: 5px;
  width: 62%;
}

.aerorv {
  background-color: #2b303b;
  padding: 0 5px;
}
.aerorv * {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  font-size: 11px;
}
.aerorv_main {
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.aerorfv {
  padding: 5px;
}
.aerorfv_button {
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  display: block;
  height: 23px;
  outline: none;
  padding: 0;
  position: relative;
  width: 100%;
}

.aerorfv_arrow {
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%2210px%22%20height%3D%2210px%22%20viewBox%3D%220%200%2010%2010%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20fill%3D%22none%22%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M5.49%2C2.51%20L1.49%2C7.49%20L9.49%2C7.49%20L5.49%2C2.51%20Z%22%20transform%3D%22translate(5.5%2C5.0)%20scale(-1%2C-1)%20rotate(-90)%20translate(-5.5%2C-5)%20%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat center center;
  bottom: 0;
  display: block;
  height: 10px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(90deg);
  transition: transform 0.2s ease-out;
  width: 10px;
}
.aerorfv_arrow.aerorfv_arrow-expanded {
  transform: rotate(-90deg);
}

.aerospv {
  height: 5px;
}

.aerocbc {
  height: 23px;
  width: 100%;
}
.aerocbc_hitArea {
  display: block;
  height: 23px;
  width: 100%;
}

.aerocbc_input {
  cursor: pointer;
  margin: 0;
  opacity: 0.001;
  padding: 0;
  position: absolute;
}

.aerocbc_input:focus + .aerocbc_outer {
  background-color: #5e6573;
}

.aerocbc_input:focus + .aerocbc_outer:hover, .aerocbc_outer:hover {
  background-color: #6a7181;
}

.aerocbc_input:checked + .aerocbc_outer .aerocbc_inner {
  opacity: 1;
}

.aerocbc_outer:hover .aerocbc_inner {
  background-color: #ebedef;
}

.aerocbc_outer {
  background-color: #535965;
  border-radius: 2px;
  cursor: pointer;
  height: 23px;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 23px;
}

.aerocbc_inner {
  background-color: #cfd2d8;
  border-radius: 2px;
  bottom: 0;
  height: 13px;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.1s ease-out;
  width: 13px;
}

.aerocpc {
  height: 23px;
  position: relative;
}
.aerocpc_outer {
  background-color: #535965;
  border-radius: 2px;
  height: 23px;
  overflow: hidden;
  position: relative;
  width: 23px;
}

.aerocpc_inner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.aerocptc {
  height: 23px;
  position: relative;
}

.aerocpc.aerocpc-cpt {
  position: absolute;
}

.aerotc.aerotc-cpt {
  position: absolute;
  left: 28px;
  right: 0;
}

.aerolc {
  background-color: #535965;
  border-radius: 2px;
}
.aerolc:focus {
  background-color: #5e6573;
}
.aerolc:hover {
  background-color: #6a7181;
}
.aerolc:hover .aerolc_select {
  color: #ebedef;
}
.aerolc_select {
  appearance: none;
  background-color: transparent;
  border-width: 0;
  color: #cfd2d8;
  cursor: pointer;
  height: 23px;
  line-height: 23px;
  outline: none;
  padding: 0 5px;
  position: relative;
  width: 100%;
}

.aerolc_arrow {
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%2210px%22%20height%3D%2210px%22%20viewBox%3D%220%200%2010%2010%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20fill%3D%22none%22%3E%3Cg%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M5%2C3%20L1%2C7.99%20L9%2C7.99%20L5%2C3%20Z%22%20transform%3D%22translate(5%2C5.5)%20scale(-1%2C-1)%20translate(-5%2C-5.5)%20%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat center center;
  bottom: 0;
  height: 10px;
  margin: auto 0;
  opacity: 0.3;
  position: absolute;
  right: 10px;
  top: 0;
  width: 10px;
}

.aerosc {
  cursor: pointer;
  height: 23px;
  position: relative;
}
.aerosc:hover .aerosc_outer {
  background-color: #6a7181;
}
.aerosc:hover .aerosc_inner {
  background-color: #ebedef;
}
.aerosc_outer {
  background-color: #535965;
  border-radius: 2px;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: background-color 0.2s ease-out;
}

.aerosc_inner {
  background-color: #cfd2d8;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.2s ease-out;
}

.aerostc {
  height: 23px;
  position: relative;
  width: 100%;
}

.aerosc.aerosc-st {
  left: 0;
  right: 55px;
  position: absolute;
  top: 0;
}

.aerotc.aerotc-st {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}

.aerotc {
  height: 23px;
  position: relative;
}
.aerotc_input {
  appearance: none;
  background-color: #535965;
  border-radius: 2px;
  border-width: 0;
  color: #cfd2d8;
  height: 100%;
  line-height: 23px;
  outline: none;
  padding: 0 5px;
  transition: background-color 0.2s ease-out;
  width: 100%;
}
.aerotc_input:focus {
  background-color: #5e6573;
}
.aerotc_input:hover {
  background-color: #6a7181;
  color: #ebedef;
}

.aerogm {
  height: 69px;
  position: relative;
}
.aerogm_canvas {
  background-color: #535965;
  border-radius: 2px;
  color: rgba(207, 210, 216, 0.5);
  display: block;
  height: 69px;
  width: 100%;
}

.aerolm {
  background-color: #535965;
  border-radius: 2px;
  height: 69px;
  position: relative;
}
.aerolm_textarea {
  background-color: transparent;
  border-width: 0;
  color: rgba(207, 210, 216, 0.5);
  display: block;
  height: 100%;
  line-height: 23px;
  outline: none;
  padding: 0 5px;
  resize: none;
  white-space: pre;
  width: 100%;
}

.aerotm {
  background-color: #535965;
  border-radius: 2px;
  height: 23px;
  position: relative;
}
.aerotm_input {
  background-color: transparent;
  border-width: 0;
  color: rgba(207, 210, 216, 0.5);
  height: 23px;
  line-height: 23px;
  outline: none;
  padding: 0 5px;
  width: 100%;
}

/*# sourceMappingURL=aerodial.css.map */
